<div class="event-container">
  <div class="single-event">
    <form action="/location/add" method="POST">
    <div class="event-title-container">
      <label for="eventLocation">Location</label>
      <input type="text" id="name" name="name" placeholder="Location name">
    </div>

    <br>

    <div class="input-description-container">
        <label for="locationDescription">Location Description: </label>
        <textarea rows="13" type="text" id="locationDescription" name="description">{{description}}</textarea>
   
    <div class="button-container ">
      <button type="submit" >Submit</button>
    </div>


    </form>
  </div>
    </div>
