<div class="event-container">
  <div class="event">
    <form action="/location/add" method="POST">
    <div class="input-container">
      <label for="eventLocation">Location</label>
      <input type="text" id="name" name="name" placeholder="Location name">
    </div>

    <br>

    <div class="input-container">
        <label for="locationDescription">Location Description: </label>
        <textarea rows="13" type="text" id="locationDescription" name="description">{{description}}</textarea>
   
    <input type="submit" name="" value="Submit">

    </form>
  </div>
    </div>
