<div class="event-container">
  <div class="event">
    <form action="/events/add" method="POST">

    <div class="input-container">
      <label for="eventTitle">Title</label>
      <input type="text" value='' id="eventTitle" name="eventTitle">
    </div>

     <div class="input-container">
      <label for="location">Location</label>
        <select id="locationId" name="locationId">
          {{#each locations}}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>

    <div class="input-container">
      <label for="eventDate">Date: </label>
      <input type="text" value='' id="eventDate" name="eventDate">
    </div>

    <div class="input-container">
      <label for="eventPrice">Price: </label>
      <input type="text" value='' id="eventPrice" name="eventPrice">
    </div>

    <div class="input-container">
      <label for="eventType">Type: </label>
      <input type="text" value='' id="eventType" name="eventType">
    </div>

    <div class="input-container">
        <label for="eventDescription">Description</label>
        <textarea rows="13" type="text"value='' id="eventDescription" name="eventDescription">  
        </textarea>
    </div>  
    <input type="submit" name="" value="Submit">

    </form>
  </div>
</div>