<div class="hero-container">
    <div class="hero-background">
            <img class="hero-image" src="gig.jpg">
        </div>
        {{!-- absolutely positioned --}}
        <div class="hero-content">
            <h1 class="hero-title">Friday Tickets</h1>

            <div class="button-container">
                <a href="/locations">
                <button class="locations-btn btn">Locations</button>
                </a>
                <a href="/events">
                <button class="events-btn btn">Events</button>
                </a>
            </div>
        </div>
    </div>
</div>