<div class="locations-container">
  {{#each locations}}
    <div class="location">
      <h3 class="location-title">{{name}}</h3>
      <p class="location-description">{{description}}</p>
 
    </div>
  {{/each}}
    <button><a href="/location/add">Add Location</a></button>
</div>