<div class="locations-container">
  {{#each location}}
    <div class="location">
      <h3 class="location-title">{{name}}</h3>
      <p class="location-description">{{description}}</p>
    </div>
  {{/each}}
</div>