<div class="event">
  <h2>TICKET</h2>
  <p class="event-title">{{event_name}}</p>
  <p class="event-location">Location: {{location_name}}</p>
  <p class="event-date">Date: {{date}}</p>
  <p class="event-price">Price: {{price}}</p>
</div>