<div class="event-container">
<div class="single-event">
  <div class="event-title-container">
    <h2 class="ticket-title">TICKET<a href="/events/ticket"></a></h2>
  </div>
  <p class="event-title">{{event.event_name}}</p>
  <p class="event-location">Location: {{event.location_name}}</p>
  <p class="event-date">Date: {{event.date}}</p>
  <p class="event-price">Price: {{event.price}}</p>
  <img src="/Barcode.png">
</div>
</div>